.statistic_header {
    display: flex;
    display: -webkit-flex;
    padding: 0;
    background-color: #3cc51f;
    padding-top: 5px;
    padding-bottom: 5px;
}
.statistic_header .page_title{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    text-align: center;
    color: #fbf9fe;
    font-size: 1.5rem;
}
.statistic_header a.icon {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    background-size: contain;
    background-repeat: no-repeat;
}
.statistic_header a.icon_back {
    background-image: url("../images/icons/icon_back.png");
}
.statistic_header a.icon_new {
    background-image: url("../images/icons/icon_new.png");
}
.statistic_header a.icon_menu {
    background-image: url("../images/icons/icon_menu.png");
}
.statistic_container .chart_container {
    margin-right: 10px;
    margin-left: 10px;
}
.statistic_container .chart_container canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.statistic_container .unit_header,  .statistic_container .data_header{
    margin: 5px;
}

.weui_icon_toast:before {
    content: '\EA0C';
}