.statistic_container .hd {
    display: flex;
    display: -webkit-flex;
    padding: 0;
    background-color: #3cc51f;
    padding-top: 5px;
    padding-bottom: 5px;
}
.statistic_container .hd .page_title{
    flex-grow: 1;
    -webkit-flex-grow: 1;
    text-align: center;
    color: #fbf9fe;
    font-size: 1.5rem;
}
.statistic_container .hd a.icon {
    width: 2rem;
    height: 2rem;
    display: inline-block;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    background-size: contain;
    background-repeat: no-repeat;
}
.statistic_container .hd a.icon_back {
    background-image: url("../images/icons/icon_back.png");
}
.statistic_container .hd a.icon_new {
    background-image: url("../images/icons/icon_new.png");
}
.statistic_container .navbar {
    height: 100%;
    padding-bottom: 3rem;
    box-sizing: border-box;
}
.appetite_quality {
    height: 100%;
}
.appetite_quality .charts {
    height: 100%;
    padding-bottom: 34px;
    box-sizing: border-box;
}
.appetite_quality .chart_container {
    margin-right: 10px;
    margin-left: 10px;
    height: 100%;
}
.appetite_quality .chart_container canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
