<div class="weui_cells weui_cells_form action_form">
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label" for="">日期</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input id="date" class="weui_input" type="date" value="">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label" for="">开始</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input id="start" class="weui_input" type="time" placeholder="" value="">
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label" for="">结束</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input id="end" class="weui_input" type="time" placeholder="" value="">
        </div>
    </div>
    <div class="weui_cells weui_cells_radio">
        <label class="weui_cell weui_check_label" for="mm">
            <div class="weui_cell_bd weui_cell_primary">
                <p>母乳</p>
            </div>
            <div class="weui_cell_ft">
                <input name="food" class="weui_check" id="mm" type="radio" value="mm" checked="checked">
                <span class="weui_icon_checked"></span>
            </div>
        </label>
        <label class="weui_cell weui_check_label" for="fm">

            <div class="weui_cell_bd weui_cell_primary">
                <p>配方</p>
            </div>
            <div class="weui_cell_ft">
                <input name="food" class="weui_check" id="fm" type="radio" value="fm">
                <span class="weui_icon_checked"></span>
            </div>
        </label>
        <label class="weui_cell weui_check_label" for="mx">

            <div class="weui_cell_bd weui_cell_primary">
                <p>混合</p>
            </div>
            <div class="weui_cell_ft">
                <input name="food" class="weui_check" id="mx" type="radio" value="mx">
                <span class="weui_icon_checked"></span>
            </div>
        </label>
    </div>
    <div class="weui_cell appetite_cell" style="display: none;">
        <div class="weui_cell_hd"><label class="weui_label">饭量</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <input class="weui_input" type="number" id="appetite" style="width: 3rem;">
            <span>勺</span>
        </div>
    </div>
    <div class="weui_cell">
        <div class="weui_cell_hd"><label class="weui_label" for="">备注</label></div>
        <div class="weui_cell_bd weui_cell_primary">
            <textarea class="weui_textarea" id="comment"></textarea>
            <!-- <div class="weui_textarea_counter"><span>0</span>/200</div> -->
        </div>
    </div>
</div>