{% extends "jumbotron.html" %}

{% block head %}
    {{ parent() }}
    <script type="text/javascript" src="./js/libs/jquery-3.0.1.min.js"></script>
    <script type="text/javascript" src="./js/libs/md5.js"></script>
    <script type="text/javascript">
        $(function(){
            $("#submit").click(login);
            function login () {
                var params = {username: $("#username").val(), password: CryptoJS.MD5($("#password").val()).toString()};
                var tempform = document.createElement("form");
                tempform.action = "{{ self|e }}";
                tempform.method = "post";
                tempform.style.display="none";
                for (var x in params) {        
                    var opt = document.createElement("input");        
                    opt.name = x;
                    opt.setAttribute("value",params[x]);
                    tempform.appendChild(opt);
                }
                
                var opt = document.createElement("input");  
                opt.type = "submit";
                opt.name = "postsubmit";
                tempform.appendChild(opt);
                document.body.appendChild(tempform);  
                tempform.submit();
            }
        });
    </script>
{% endblock %}

{% block area %}
    <div class="weui_cells weui_cells_form action_form">
        {% if error %}<div class="weui_cells_tips">登陆失败</div>{% endif %}
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label" for="">用户名</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id="username" class="weui_input" type="text" value="">
            </div>
        </div>
        <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label" for="">密码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id="password" class="weui_input" type="password" placeholder="" value="">
            </div>
        </div>
        <!-- <div class="weui_cell">
            <div class="weui_cell_hd"><label class="weui_label" for="">验证码</label></div>
            <div class="weui_cell_bd weui_cell_primary">
                <input id="vcode" class="weui_input" type="text" placeholder="" value="">
            </div>
        </div> -->
    </div>
{% endblock %}

{% block footer %}
    <div class="weui_cell footer">
        <a id="register" class="weui_btn weui_btn_primary" href="./register.php">注册</a>
        <a id="submit" class="weui_btn weui_btn_primary" href="javascript:;">登录</a>
    </div>
{% endblock %}